body{
     background-image: url('..\\images\\back.jpg');
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: black;
     font-family: 'Indie Flower', cursive;
     margin-top:50px;
}

h1{
   color: white;
   text-align: center;
   margin-left: 800px;
}

.jumbotron{
   background-image: url('..\\images\\second.png');
   margin-left: 50px;
   margin-top:-210px;
   height: 500px;
   width:  750px;
   opacity: 0.69;
   filter: alpha(opacity=70);
   border-style: solid;
   border-color: #cc0000;
}

.jumbotron:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
